In [3]:
# %pip install pyreadr

In [4]:
import pyreadr

In [5]:
result = pyreadr.read_r('u133VsExon.RData')

In [6]:
result

OrderedDict([('u133VsExon',
                                   u133          exon
              rownames
              ENSG00000265096  0.175610  1.072572e-01
              ENSG00000152495  0.001780  6.741108e-10
              ENSG00000198040  0.005371  1.505019e-03
              ENSG00000229092  0.000669  6.755118e-05
              ENSG00000158748  0.655261  3.355333e-01
              ...                   ...           ...
              ENSG00000113492  0.134855  3.888763e-01
              ENSG00000157404  0.277243  3.164176e-01
              ENSG00000159792  0.478797  9.340930e-01
              ENSG00000136378  0.266447  1.142195e-02
              ENSG00000165583  0.960914  4.583522e-01

              [19577 rows x 2 columns])])

In [10]:
df=result['u133VsExon']

In [18]:
# saving as CSV file
df.to_csv('u133VsExon.csv')

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('u133VsExon.csv')
df

              rownames      u133          exon
0      ENSG00000265096  0.175610  1.072572e-01
1      ENSG00000152495  0.001780  6.741108e-10
2      ENSG00000198040  0.005371  1.505019e-03
3      ENSG00000229092  0.000669  6.755118e-05
4      ENSG00000158748  0.655261  3.355333e-01
...                ...       ...           ...
19572  ENSG00000113492  0.134855  3.888763e-01
19573  ENSG00000157404  0.277243  3.164176e-01
19574  ENSG00000159792  0.478797  9.340930e-01
19575  ENSG00000136378  0.266447  1.142195e-02
19576  ENSG00000165583  0.960914  4.583522e-01

[19577 rows x 3 columns]